{% extends 'base.html' %}

{% block title %} <h3>Users Detail Page</h3> {% endblock %}

{% block content %}

<section id="user-details">
    <h5>{{user.first_name}} {{user.last_name}}</h5>
    <div>
        <img src="{{user.image_url}}" alt="Link didn't have an image"
        width="250" height="250">
    </div>
    <div>
        <section><!-- have edit user btn and delete btn -->
            
            <form method="GET" action="/users/{{user.id}}/edit">
                <button type="submit">EDIT</button>
            </form>
            <form method="POST" action="/users/{{user.id}}/delete">
                <button type="submit">DELETE</button>
            </form>

            
            
        </section>
    </div>
    
    
</section>



{% endblock %}